<%= partial( "header" ) %>
<div data-role="content">
  <h3 class="ui-title dates">August 26 - 29, 2014 <small>Chattanooga Convention Center - Chattanooga, TN</small></h3>
  <ul data-role="listview" data-inset="true">
  	<li data-role="list-divider">Agenda</li>
  	<li><a href="/agendas/wednesday.html">Wednesday</a></li>
  	<li><a href="/agendas/thursday.html">Thursday</a></li>
  	<li><a href="/agendas/friday.html">Friday</a></li>
  </ul>
  <ul data-role="listview" data-inset="true">
  	<li data-role="list-divider">Browse</li>
    <li><a href="/speakers/">Speakers</a></li>
    <li><a href="/talks/">Talks</a></li>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/sponsors/">Sponsors</a></li>
  </ul>
</div>