<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
    </staticContent>
  </system.webServer>  
  <system.web>
  
  </system.web>
</configuration>

